@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

p {
  line-height: 175%;
}

body {
  background: #151516;
  font-family: "Ubuntu", sans-serif;
}

* {
  color: #fff;
}

main {
  padding-left: 102px;
}
main > section {
  display: none;
  padding-right: 32px;
  padding-left: 32px;
}
main > section:not(#home) {
  padding-top: 64px;
}
main > section.active {
  display: block;
}
main > section header.has-bg {
  position: relative;
  display: inline-flex;
}
main > section header.has-bg img {
  position: absolute;
  top: 15px;
  left: -72px;
}
main header.custom {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
}
main header.custom:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1E1E20;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
main header.custom h2 {
  display: inline-block;
  padding: 0 24px;
  background: #151516;
}

.btn-custom-blue, .btn-custom-dark {
  display: inline-block;
  position: relative;
  background: #262F48;
  padding: 10px 52px;
  text-decoration: none;
  color: #658DF2;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.btn-custom-blue:before, .btn-custom-dark:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #658DF2;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.btn-custom-blue:hover, .btn-custom-dark:hover {
  color: #fff;
}
.btn-custom-blue:hover:before, .btn-custom-dark:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

.btn-custom-dark {
  background: #1E1E20;
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#sidebar.blur {
  filter: blur(2px);
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #658DF2;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #658DF2;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 24px;
  height: 35px;
  background: #1E1E20;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  position: relative;
  width: 14px;
  height: 14px;
  background: #658DF2;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
#sidebar .toggle-mode .outer .inner:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #1E1E20;
  top: -4px;
  left: 3px;
  border-radius: 50%;
}

#home {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vw -24px;
}
#home .info {
  padding-top: 281px;
}
#home .info img.person-circle {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
}
#home .info h1 span {
  color: #B6B7BA;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#home .info .field h2 {
  color: #B6B7BA;
  margin: 0;
}
#home .info .field span {
  font-size: 21px;
  margin-left: 2px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 191px;
}
#home .info .socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
#home .info .socials ul li {
  margin-right: 8px;
}
#home .info .socials ul a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
}
#home .info .socials ul a:hover {
  background: #1E1E20;
  border-radius: 6px;
}
#home .info .socials ul a:hover span, #home .info .socials ul a:hover i {
  color: #fff;
}
#home .info .socials ul i {
  font-size: 18px;
  margin-right: 8px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#home .info .socials ul span {
  color: #808185;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#home .image img:hover {
  filter: saturate(200%) sepia(1);
}
#home .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
#home .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 39vh;
  left: 46vw;
  animation: meteor 5314ms linear infinite;
  animation-delay: 675ms;
}
#home .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 10vh;
  left: 15vw;
  animation: meteor 6057ms linear infinite;
  animation-delay: 2770ms;
}
#home .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 16vh;
  left: 30vw;
  animation: meteor 5005ms linear infinite;
  animation-delay: 2007ms;
}
#home .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 58vh;
  left: 71vw;
  animation: meteor 6241ms linear infinite;
  animation-delay: 3382ms;
}
#home .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 35vh;
  left: 69vw;
  animation: meteor 6218ms linear infinite;
  animation-delay: 4700ms;
}
#home .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 71vh;
  left: 19vw;
  animation: meteor 6506ms linear infinite;
  animation-delay: 3682ms;
}
#home .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 9vh;
  left: 37vw;
  animation: meteor 7871ms linear infinite;
  animation-delay: 3327ms;
}
#home .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 14vh;
  left: 26vw;
  animation: meteor 6095ms linear infinite;
  animation-delay: 162ms;
}
#home .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 59vh;
  left: 60vw;
  animation: meteor 3496ms linear infinite;
  animation-delay: 11ms;
}
#home .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 54vh;
  left: 43vw;
  animation: meteor 5161ms linear infinite;
  animation-delay: 4172ms;
}
#home .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 33vh;
  left: 12vw;
  animation: meteor 6099ms linear infinite;
  animation-delay: 360ms;
}
#home .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 13vh;
  left: 63vw;
  animation: meteor 6866ms linear infinite;
  animation-delay: 3256ms;
}
#home .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 46vh;
  left: 15vw;
  animation: meteor 3991ms linear infinite;
  animation-delay: 131ms;
}
#home .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 1vh;
  left: 78vw;
  animation: meteor 5691ms linear infinite;
  animation-delay: 408ms;
}
#home .meteor-shower .meteor:nth-child(15) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 69px;
  height: 49px;
  opacity: 0;
  top: 100px;
  top: 49vh;
  left: 55vw;
  animation: meteor 7313ms linear infinite;
  animation-delay: 2481ms;
}

@keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  15% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
#about .hero .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#about .hero .image img:hover {
  filter: saturate(200%) sepia(1);
}
#about .hero .info header {
  margin-bottom: 42px;
  margin-top: 10px;
}
#about .hero .info h2 {
  color: #B6B7BA;
  margin-bottom: 16px;
}
#about .hero .info p {
  max-width: 560px;
  color: #B6B7BA;
}
#about .hero .info .items {
  margin-top: 30px;
  margin-bottom: 48px;
}
#about .hero .info .items .item {
  display: flex;
  margin-bottom: 16px;
}
#about .hero .info .items .item .value {
  color: #B6B7BA;
  margin-left: 4px;
}
#about .hero .info .buttons {
  display: inline-flex;
  flex-wrap: wrap;
}
#about .hero .info .buttons a:first-child {
  margin-right: 24px;
}
#about .rate {
  display: flex;
}
#about .rate span {
  position: relative;
  display: flex;
  width: 15px;
  height: 15px;
}
#about .rate span:not(:last-child) {
  margin-right: 12px;
}
#about .rate span:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #658DF2;
  transform: rotate(40deg);
}
#about .rate span:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #658DF2;
  transform: rotate(50deg);
}
#about .rate span.fill:before, #about .rate span.fill:after {
  background: #658DF2;
}
#about .languages-skills {
  margin-top: 126px;
}
#about .languages-skills .languages-key-skills {
  padding-right: 160px;
}
#about .languages-skills .languages-key-skills .languages .items {
  margin-bottom: 43px;
}
#about .languages-skills .languages-key-skills .languages .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about .languages-skills .languages-key-skills .languages .items .item .info h3 {
  margin-bottom: 4px;
}
#about .languages-skills .languages-key-skills .languages .items .item .info .level {
  color: #B6B7BA;
}
#about .languages-skills .languages-key-skills .key-skills .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .languages-skills .languages-key-skills .key-skills .items .item:not(:last-child) {
  margin-bottom: 32px;
}
#about .languages-skills .web-skills .items {
  margin-left: -20px;
  margin-right: -20px;
}
#about .languages-skills .web-skills .items .item {
  position: relative;
  padding: 32px 8px;
  text-align: center;
  background: #1E1E20;
  margin-bottom: 16px;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}
#about .languages-skills .web-skills .items .item:hover:before, #about .languages-skills .web-skills .items .item:hover:after {
  transform: translate(0, 0);
}
#about .languages-skills .web-skills .items .item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(100%, -100%);
  transition: all 0.6s;
}
#about .languages-skills .web-skills .items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(-100%, 100%);
  transition: all 0.6s;
}
#about .languages-skills .web-skills .items .item img {
  margin-bottom: 21px;
}
#about .languages-skills .web-skills .items .item h3 {
  margin-bottom: 8px;
}
#about .languages-skills .web-skills .items .item .year {
  color: #FF9F76;
}
#about .certificates {
  margin-top: 120px;
  margin-bottom: 200px;
}
#about .certificates .items .item img {
  width: 100%;
}

#resume {
  padding-bottom: 155px;
  background-image: url(../images/bg-shape.png);
  background-repeat: no-repeat;
  background-position: 40vw 374px;
}
#resume header.has-bg {
  margin-bottom: 64px;
}
#resume .items .item {
  display: flex;
}
#resume .items .item:not(:last-child) {
  margin-bottom: 42px;
}
#resume .items .item.last .icon i,
#resume .items .item.last .box .title {
  color: #658DF2;
}
#resume .items .item:hover .icon,
#resume .items .item:hover .icon:before {
  background: rgba(11, 44, 128, 0.4);
}
#resume .items .item:hover .box {
  background: transparent;
}
#resume .items .item:hover .box:before {
  border-right-color: rgba(11, 44, 128, 0.4);
}
#resume .items .item:hover .box:after {
  width: 100%;
}
#resume .items .item .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.0509803922);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 46px;
  margin-top: 23px;
  transition: all 0.3s;
}
#resume .items .item .icon:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 126px;
  background: #1E1E20;
  top: 78px;
  transition: all 0.3s;
}
#resume .items .item .box {
  position: relative;
  padding: 32px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 8px;
  text-align: left;
  z-index: 1;
  flex-grow: 1;
  transition: all 0.3s;
}
#resume .items .item .box:before {
  content: "";
  position: absolute;
  border-right: 9px solid rgba(30, 30, 32, 0.75);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  left: -9px;
  top: 36px;
  z-index: 1;
  transition: all 0.3s;
}
#resume .items .item .box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: rgba(11, 44, 128, 0.4);
  z-index: -1;
  transition: all 0.3s;
}
#resume .items .item .year {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
#resume .items .item .title {
  margin-bottom: 16px;
}
#resume .items .item p {
  font-size: 18px;
  font-weight: 400;
  color: #B6B7BA;
  max-width: 345px;
}
#resume .education {
  padding-right: 34px;
}
#resume .experience {
  padding-left: 34px;
}

#project.blur {
  filter: blur(2px);
}
#project .filters {
  text-align: center;
  margin-top: 81px;
  margin-bottom: 55px;
}
#project .filters button {
  background: transparent;
  color: #808185;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  margin-left: 8px;
}
#project .filters button.active {
  color: #fff;
  background: #1E1E20;
  border-radius: 8px;
  margin-bottom: 16px;
}
#project .project-items .item {
  margin-bottom: 24px;
}
#project .project-items .item .wrap {
  position: relative;
  overflow: hidden;
}
#project .project-items .item .wrap:hover:before {
  transform: rotate(0deg);
}
#project .project-items .item .wrap:hover:after {
  transform: translate(-50%, -50%) rotate(0deg);
}
#project .project-items .item .wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(101, 141, 242, 0.6);
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  transform: rotate(-100deg);
  transform-origin: top left;
  transition: all 0.3s;
}
#project .project-items .item .wrap:after {
  content: " View ";
  position: absolute;
  width: 96%;
  height: 95%;
  background: rgba(21, 21, 22, 0.8);
  border-radius: 8px;
  transform-origin: bottom left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-100deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 3px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}
#project .project-items .item .wrap img {
  width: 100%;
  opacity: 0.5;
  border-radius: 8px;
  cursor: pointer;
}

.modal#projectModal .modal-dialog {
  max-width: 863px;
}
.modal#projectModal .modal-dialog .modal-content {
  background: #1E1E20;
  padding: 32px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body {
  padding: 0;
  position: static;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .modal-close-button {
  background: #151516;
  font-size: 22px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .modal-close-button:hover {
  background: #0b2c80;
}
.modal#projectModal .modal-dialog .modal-content .modal-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .left {
  padding: 0;
  padding-right: 32px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .left h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .left P {
  color: #B6B7BA;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .right {
  padding-right: 0;
  padding-left: 32px;
  padding-top: 80px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .right i {
  font-size: 18px;
  margin-right: 2px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .right .value {
  color: #B6B7BA;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .right .project-link {
  margin-top: 32px;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .right a,
.modal#projectModal .modal-dialog .modal-content .modal-body .right i {
  color: #658DF2;
  text-decoration: none;
}
.modal#projectModal .modal-dialog .modal-content .modal-body .right a:hover {
  text-decoration: underline;
}

#testimonial {
  background-image: url(../images/bg-shape.png);
  background-repeat: no-repeat;
  background-position: 60vw 374px;
  min-height: 100vh;
}
#testimonial .main-section .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 173px;
  margin-bottom: 6px;
}
#testimonial .main-section .images img {
  width: 68px;
  height: 68px;
  margin-right: 16px;
  margin-left: 16px;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 16px;
  transition: all 0.3s;
}
#testimonial .main-section .images img:hover {
  opacity: 1;
  filter: saturate(150%) sepia(0.5);
}
#testimonial .main-section .images img.active {
  width: 90px;
  height: 90px;
  opacity: 1;
}
#testimonial .main-section .comments {
  text-align: center;
}
#testimonial .main-section .comments .item {
  display: none;
}
#testimonial .main-section .comments .item.active {
  display: inline-block;
}
#testimonial .main-section .comments .item .box {
  position: relative;
  background: rgba(30, 30, 32, 0.75);
  padding: 32px;
  border-radius: 8px;
}
#testimonial .main-section .comments .item .box:before {
  content: "";
  position: absolute;
  border-bottom: 9px solid rgba(30, 30, 32, 0.75);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: 9px;
  left: 50px;
  transform: translateX(-50%);
}
#testimonial .main-section .comments .item .box p {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  max-width: 710px;
  animation: scaleUp 1s;
}
#testimonial .main-section .comments .item .box p span {
  font-size: 86px;
  color: #658DF2;
  line-height: 0;
  vertical-align: -33px;
}
#testimonial .main-section .comments .item .writer {
  margin-top: 32px;
  margin-bottom: 16px;
}
#testimonial .main-section .comments .item .writer span.field {
  color: #808185;
}

@keyframes scaleUp {
  0% {
    transform: scale(0) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
#contact {
  background-image: url(../images/bg-shape.png);
  background-repeat: no-repeat;
  background-position: 53vw 574px;
  min-height: 100vh;
}
#contact .container {
  margin-top: 123px;
}
#contact .container .form {
  padding-right: 69px;
}
#contact .container .form .form-item {
  position: relative;
  margin-bottom: 32px;
}
#contact .container .form .form-item.focus label {
  top: -3px;
  font-size: 12px;
}
#contact .container .form .form-item.focus:after {
  width: 100%;
}
#contact .container .form .form-item:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #808185;
  bottom: 0;
  left: 0;
}
#contact .container .form .form-item:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
#contact .container .form .form-item label {
  position: absolute;
  top: 17px;
  color: #808185;
  transition: all 0.3s;
}
#contact .container .form .form-item input,
#contact .container .form .form-item textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 16px 0;
}
#contact .container .form .form-item textarea {
  resize: none;
  min-height: 171px;
}
#contact .container .info {
  padding-left: 69px;
}
#contact .container .info .item {
  display: flex;
  margin-bottom: 32px;
}
#contact .container .info .item:hover i {
  background: #658DF2;
}
#contact .container .info .item i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  font-size: 18px;
  margin-right: 16px;
  transition: all 0.3s;
}
#contact .container .info .item .text .title {
  color: #B6B7BA;
}
#contact .container .info .item .text a {
  display: block;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  #about .languages-skills .languages-key-skills {
    padding-right: 12px;
  }
  #resume .experience {
    margin-top: 100px;
  }
  #contact .container .form {
    padding-right: 12px;
  }
  #contact .container .info {
    padding-left: 12px;
  }
}
@media (max-width: 991px) {
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .modal#projectModal .modal-dialog .modal-content .modal-body .modal-close-button {
    right: 10px;
    top: 10px;
  }
  #contact .container .info {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  #sidebar {
    background: black;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-left: 0;
  }
  main > section header.has-bg img {
    left: -13px;
    top: -4px;
  }
  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 70px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }
  #about .hero .info .buttons {
    flex-direction: column;
  }
  #about .hero .info .buttons a {
    width: 100%;
    text-align: center;
  }
  #about .hero .info .buttons a:first-child {
    margin-bottom: 16px;
  }
  #resume .items .item {
    position: relative;
  }
  #resume .items .item .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -23px;
    z-index: 2;
    margin-top: 0;
    background: rgba(30, 30, 32, 0.75);
  }
  #resume .items .item .icon:before {
    display: none;
  }
  #resume .items .item .box:before {
    display: none;
  }
  #resume .education,
  #resume .experience {
    padding-right: 12px;
    padding-left: 12px;
  }
  .modal#pojectModal .modal-dialog .modal-content .modal-body img {
    height: unset;
  }
  .modal#pojectModal .modal-dialog .modal-content .modal-body .left {
    padding-right: 0;
  }
  .modal#pojectModal .modal-dialog .modal-content .modal-body .right {
    padding-left: 0;
    padding-top: 32px;
  }
  #contact .container .info .item {
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
  }
  #contact .container .info .item i {
    margin-right: 0;
    margin-bottom: 8px;
  }
  #contact .container .info .item br {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */